body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff5353;
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    width: 700px;
    height: 780px;
    position: relative; 
}

#game {
    width: 400px;
    margin-bottom: 20px;
}
h1 {
    color: black;
}

.buttons {
    margin-top: 20px;
    display: flex; /* Ajoute Flexbox */
    justify-content: center; /* Centre les boutons horizontalement */
    align-items: center; /* Aligne les boutons verticalement */
    position: relative; /* Permet au bouton "Non" de se positionner par rapport à cette boîte */
}

button {
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#yes-btn {
    background-color: #ff5353;  
    color: white;
}

#no-btn {
    background-color: #000000;
    color: white;
    transition: 0.1s ease; 
}